html, body {
    font-family: "Ubuntu", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 32px;
}

p, label{
    font-size: 18px;
}

span {
    font-size: 14px;
}
